/*colors!   

AAAE7F greeny one
191919 dark gray one
F15025 orangy one

*/

h1 {
    font-size: 10vw;
    font-family: 'Roboto Mono', monospace;
    opacity: 70%;
}

h2 {
    font-size: 5vw;
    font-family: 'Roboto Mono', "medium 500 italic";
    opacity: 70%;
}

body {
    background-color: #191919;
    margin: 0;
    text-indent: 0px;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
}

.navbar-main {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #191919;
    overflow-x: hidden;
    overflow: visible;
    opacity: 70%;
}

.home-section {
    scroll-snap-align: start;
    float: left;
    width: 100%;
    height: 100vh;
    border-left: 100px;
    background-color: #575757;
    scroll-snap-align: start;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.cube {
    width: 98px;
    height: 100px;
    color: white;
    overflow: visible;
    background-color: #191919;
    border-left: 0;
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #191919;
    border-radius: 0px
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px
}

blink, .blink {
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
    67% {
        opacity: 0
    }
}

@-moz-keyframes blink {
    67% {
        opacity: 0
    }
}

@-o-keyframes blink {
    67% {
        opacity: 0
    }
}

@keyframes blink {
    67% {
        opacity: 0
    }
}

/*stuff for scroll icon */

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.formarea {
    height: 40vw;
    padding-left: 30%;
    padding-right: 30%;
}

.formholder {
    width: 30%;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 40px;
}

.namelabel {
    grid-area: 1 / 1 / 2 / 2;
}

.namefield {
    grid-area: 1 / 2 / 2 / 3;
}

.emaillabel {
    grid-area: 2 / 1 / 3 / 2;
}

.emailfield {
    grid-area: 2 / 2 / 3 / 3;
}

.reasonlabel {
    grid-area: 3 / 1 / 4 / 2;
}

.reasonfield {
    grid-area: 3 / 2 / 4 / 3;
}

.messagelabel {
    grid-area: 4 / 1 / 5 / 2;
}

.messagefield {
    grid-area: 4 / 2 / 5 / 3;
}

.submitbutton {
    grid-area: 5 / 1 / 6 / 3;
}

.forminput {
    border-radius: 10px;
    height: 84px;
    border: 0;
    height: 70px;
    border: 75px;
    font-size: 50px;
}

@media only screen and (max-width: 1000px) {
    .formarea {
        height: 40vw;
        width: 100vw;
        padding-left: 0%;
        padding-right: 0%;
    }
    .formholder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100vw;
    }
    .namelabel {
        grid-area: 1 / 1 / 2 / 2;
        width: 100vw;
    }
    .namefield {
        grid-area: 2 / 1 / 3 / 2;
        width: 100vw;
    }
    .emaillabel {
        grid-area: 3 / 1 / 4 / 2;
        width: 100vw;
    }
    .emailfield {
        grid-area: 4 / 1 / 5 / 2;
        width: 100vw;
    }
    .reasonlabel {
        grid-area: 5 / 1 / 6 / 2;
        width: 100vw;
    }
    .reasonfield {
        grid-area: 6 / 1 / 7 / 2;
        width: 100vw;
    }
    .messagelabel {
        grid-area: 7 / 1 / 8 / 2;
        width: 100vw;
    }
    .messagefield {
        grid-area: 8 / 1 / 9 / 2;
        width: 100vw;
    }
    .submitbutton {
        grid-area: 9 / 1 / 10 / 2;
        width: 100vw;
    }
    .div10 {
        grid-area: 10 / 1 / 11 / 2;
        width: 100vw;
    }
    .forminput {
        border-radius: 10px;
        height: 84px;
        border: 0;
        height: 70px;
        border: 75px;
        font-size: 50px;
        width: 90vw;
    }
   
}